.form-check label {
    margin-bottom: 0;
}

.viser--table table thead th:first-child,
.viser--table table thead th:last-child {
    border-radius: 0;
}

.table-responsive--md tr td {
    min-height: 40px;
}

.table td {
    color: #787878;
}

.viser--table {
    position: relative;
}

.viser--table table.table--light thead th {
    border: none;
    color: #605a5a;
    background-color: #f7f7f7;
}

.viser--table td a {
    color: #3b3b3b;
    font-size: inherit;
    font-weight: 600;
}

.viser--table td a.btn,
.viser--table td a.dropdown-item {
    font-weight: normal;
}

.viser--table a:hover {
    color: #4634ff;
}

.viser--table .table--light.style--two td,
.viser--table .table--light.style--two th {
    padding: 12px 15px;
}


.viser--table input.form-control {
    height: 35px;
}

.offcanvas-body input.form-control {
    height: 45px;
}

@media (min-width: 564px) {
    .daterangepicker {
        width: min-content;
    }
}

.dropdown-menu.show {
    width: max-content;
}

.sidebar[class*='bg--'] .sidebar__menu .sidebar__menu-header {
    color: #7d83a3;
}

.sidebar__menu-header {
    font-weight: 600;
}

.breadcrumb-plugins .btn {
    display: flex;
    align-items: center
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff !important;
    text-decoration: none;
    background-color: #4634ff;
}

.list-group-item {
    border-color: #ebebeb !important;
}

.button--group {
    margin: 0;
}
